
/* Home Page : Style for profile image */
#profile_image
{
  max-width: 500px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

/* Style for body of home page */

body
{
  background-image: url(../images/background.jpg);
}

h2.headTitle
{
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  color: white;
}

p.headTitle
{
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  margin: 30px;
  font-size: x-large
}

.navbar-brand h1{
	font-size: 31px;
	margin: 0;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.banner-two h1{
	font-family: 'Poppins', sans-serif;
	font-size: 56px;
	color: #000000;
	font-weight: 700;
  margin-top: 5px;
  text-align: center;
}



.nav-item
{
  font-size: 1.3rem;
}